* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

#collapsingNavbar3 a:hover {
    background-color: rgb(49, 204, 18)!important;
}

#list1 {
    font-family: 'Sofia';
    font-size: 22px;
}

.myimg {
    animation: slide 10s infinite;
    height: 475px;
}

@media (min-width:768px) {
    .myimg {
        height: 675px;
    }
}

@keyframes slide {
    0%,
    100% {
        background-image: url('img/me.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    50% {
        background-image: url('img/myimg.png');
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}

footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
}

.social {
    padding-top: 20px;
}

.socialfa {
    padding-right: 5px;
    border-radius: 50%;
    padding: 5px;
}

@media(min-width:768px) {
    .socialfa {
        padding: 20px;
    }
}

.fa-facebook {
    color: #3b5999;
}

.fa-twitter {
    color: #55acee;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-quora {
    color: #b92b27;
}

.fa-instagram {
    color: #e95950;
}

.fa-snapchat-ghost {
    color: #FFFC00;
}

.fa-whatsapp {
    color: #25D366;
}

.fa-pinterest {
    color: #bd081c;
}

.fa-stack-overflow {
    color: #FF9900;
}

.desc {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

canvas {
    position: relative;
    background-color: black;
}

.col-md-5 {
    background-image: url('img/cool-background.png');
    background-size: cover;
}

.col-md-7 {
    background-image: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%);
}

p {
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
}

#projects {
    background-color: #9dc5c3;
    background-color: #FFFFFF;
    background-image: linear-gradient(0deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
}

#p1 {
    box-sizing: border-box;
}

#p1 .box {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#p1 .box:nth-child(1) {
    background: linear-gradient(45deg, #036eb7, #64eaff);
}

#p1 .box:nth-child(2) {
    background: linear-gradient(45deg, #E91E63, #ed55ff);
}

#p1 .box:nth-child(3) {
    background: linear-gradient(45deg, #086d35, #00ff72);
}

#p1 .box:nth-child(4) {
    background: linear-gradient(45deg, #f05a4f, #f4c030);
}

#p1 .box:nth-child(5) {
    background-color: #c052ff;
    background-image: linear-gradient(0deg, #c052ff 25%, #FFE32C 100%);
}

#p1 .box:nth-child(6) {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

@media(max-width:767px) {
    #p1 .box {
        margin: 10px 5px 10px 5px!important;
    }
}


/*.p1 {
    width: 1200px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 200px!important;
}

.p1 .box {
    position: relative;
    background: #fff;
    padding: 20px 40px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}

*/