{% load static %}
<!Doctype html>
<html>
    <head>
        <title>Kumar Gaurav</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <!---js-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

   
<nav class="navbar navbar-dark bg-dark">
    <img src="{% static 'img/my.logo.png' %}" style="height: 100px;width: 200px;">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar3">
    <ul class="navbar-nav mx-auto" id="list1">
    <li class="nav-item active">
    <a class="nav-link" href="#"><i class="fa fa-home" style="color:rgb(233, 187, 37);" aria-hidden="true"></i>  Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-user" style="color:rgb(233, 187, 37);" aria-hidden="true"></i><span style="color: white;">  About Me</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-tasks" style="color:rgb(233, 187, 37);"></i><span style="color: white;">  Project</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-book" style="color:rgb(233, 187, 37);"></i><span style="color: white;"> Education and Achievement</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-comments-o" aria-hidden="true" style="color:rgb(233, 187, 37);"></i><span style="color: white;"> Leave a suggestion</span></a>
    </li>
    </ul>
    </div>
    </nav>
    <section id="about">
    <div class="container">
        <center style="font-size: 4em;color: white;">About Me</center>
    </div></section>

     
</body>
</html>