body{
    background-color: #aaaaaa!important;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}
#collapsingNavbar3 a:hover{
    background-color:rgb(49, 204, 18)!important;
}
#collapsingNavbar3{
    border: 1px solid white;
}
#list1{
    font-family: 'Sofia';font-size: 22px;
}
@media(max-width:767px){
    #list1{
        padding: 10px;
    }
}
@media(min-width:768px){
  
    #list1{
        padding-right:60px;
        padding: 10px 10px;
    }
}
#about{
    margin: 20px;;
}