
body
{
    background-color: #aaaaaa!important;
}
#collapsingNavbar3 a:hover
{
    background-color:rgb(49, 204, 18)!important;
}
#collapsingNavbar3
{
    border: 1px solid white;
}
#list1
{
    font-family: 'Sofia';font-size: 22px;
}
@media(max-width:767px)
{
#list1
{
    padding: 10px;
}
#image{
    height:450px;
}
}
#image{
    border:4px solid red;
}
@media(min-width:768px)
{
#list1
{
    padding-right:60px;
    padding: 10px 10px;
}
#image{
    height:550px;
}
}
#about
{
    margin: 20px;;
}
#collapsingNavbar3 a:hover{
    animation:fadeInRight 1s;
}
@keyframes fadeInRight{
from{
         opacity: 0;
                   transform: translateX(200px 0px);
               }
               to{
                   opacity: 1;
                   transform: translateX(0px 200px);
               }
           }

.fade-in
{
    animation: fadeIn 6s; 
       }
           @keyframes fadeIn{
               from{
                   opacity: 0;
               }
               to{
                   opacity: 1;
               }
           }
           .slide{
           animation:slide 15s infinite;
           }
           @keyframes slide{
               0%{
                   background-image:url('https://mdbootstrap.com/img/Photos/Slides/img%20(50).jpg');
               }
               50%{
                   background-image:url('https://mdbootstrap.com/img/Photos/Slides/img%20(52).jpg');
               }
               100%{
                   background-image:url('https://mdbootstrap.com/img/Photos/Slides/img%20(53).jpg');
               }
           }
           body
           {
               background-color: #aaaaaa!important;
           }
           #collapsingNavbar3 a:hover
           {
               background-color:rgb(49, 204, 18)!important;
           }
           #collapsingNavbar3
           {
               border: 1px solid white;
           }
           #list1
           {
               font-family: 'Sofia';font-size: 22px;
           }
           @media(max-width:767px)
           {
           #list1
           {
               padding: 10px;
           }
           #image{
               height:450px;
           }
           }
           #image{
               border:4px solid red;
           }
           @media(min-width:768px)
           {
           #list1
           {
               padding-right:60px;
               padding: 10px 10px;
           }
           #image{
               height:550px;
           }
           }
           #about
           {
               margin: 20px;;
           }
           #collapsingNavbar3 a:hover{
               animation:fadeInRight 1s;
           }
           @keyframes fadeInRight{
           from{
                    opacity: 0;
                              transform: translateX(200px 0px);
                          }
                          to{
                              opacity: 1;
                              transform: translateX(0px 200px);
                          }
                      }
           
           .fade-in
           {
               animation: fadeIn 6s; 
                  }
                      @keyframes fadeIn{
                          from{
                              opacity: 0;
                          }
                          to{
                              opacity: 1;
                          }
                      }
                      .slide{
                      animation:slide 15s infinite;
                      }
                      @keyframes slide{
                          0%{
                              background-image:url('https://mdbootstrap.com/img/Photos/Slides/img%20(50).jpg');
                          }
                          50%{
                              background-image:url('https://mdbootstrap.com/img/Photos/Slides/img%20(52).jpg');
                          }
                          100%{
                              background-image:url('https://mdbootstrap.com/img/Photos/Slides/img%20(53).jpg');
                          }
                      }
           